<% 
html_title "Troubleshooting"

def appendAnswer(qid, answer='clear')
  newparams = {}
  params.each do |key, val|
    if key.start_with? 'q_' or key.eql? 'problem'
      newparams[key] = val
    end
  end
  if answer == 'clear'
    newparams.delete('q_'<<qid)
  else
    newparams['q_'<<qid] = answer
  end
  return newparams
end

def clearAnswer(qid)
  return appendAnswer(qid)
end
%>

<div class="contextual">
  <%= link_to 'Pick problem', {:controller => 'problems', :action => 'index'}, :method => :get %>
</div>

<h2>Questions</h2>

<% @questions.each do |question| %>
  <p>
  	<%= question.description %> - (Cplx: <%= question.complexity %>)
  	<%= link_to 'Yes', appendAnswer(question.id, 'yes'), :method => :get, :class => "answer yes" %> (<%= Answer.where(:result => true, :question_id => question).length %>)/
  	<%= link_to 'No', appendAnswer(question.id, 'no'), :method => :get, :class => "answer no" %> (<%= Answer.where(:result => false, :question_id => question).length %>)/
  	<%= link_to "Don't know", clearAnswer(question.id), :method => :get, :class => "answer dunno" %>
  </p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'troubleshooting', :plugin => 'troubleshooting' %>
<% end %>